@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: rgb(0, 0, 0);
  font-family: "Inter", sans-serif;
}
body {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  width: 320px;
  height: max-content;
  background-color: #b8b3e4;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
input,
button,
.coupon {
  width: 300px;
  height: 30px;
  display: block;
  margin-block: 10px;
  border: none;
  border-radius: 3px;
  outline: none;
}
.coupon {
  background-color: aliceblue;
  cursor: not-allowed;
  display: flex;
  justify-content: center;
  align-items: center;
}
input {
  padding-left: 5px;
}
button {
  cursor: pointer;
}
.bg-black,
button:hover {
  background-color: black;
  color: aliceblue;
}
h1 {
  font-size: 1.5rem;
  padding-block: 15px;
}

.pop-up {
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: space-around;
  padding: 5px;
  position: absolute;
  top: 10%;
  z-index: 1;
  width: 320px;
  height: 50px;
  border-radius: 3px;
  background-color: #b8b3e4;
}

#close {
  border: 1px solid black;
  padding-block: 5px;
  padding-inline: 8px;
  width: max-content;
  height: max-content;
  background-color: #b8b3e4;
}
#result {
  width: 80%;
}
.d-none {
  display: none;
}

/*  animations */
.slide-down {
  animation: slide-down ease 0.8s;
}

.slide-up {
  animation: slide-up ease 1s;
}

@keyframes slide-up {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-30rem);
  }
}
@keyframes slide-down {
  0% {
    transform: translateY(-30rem);
  }
  100% {
    transform: translateY(0);
  }
}
