@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-weight: 700;
  color: aliceblue;
  font-family: "Inter", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: cornflowerblue;
  text-align: center;
}
.online {
  background-color: #22bd8c;
}
.offline {
  background-color: #ea0a03;
}
