@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

:root {
  --primary-color: #212a32;
  --accent-color: #3a4a58;
  --white-color: #fcfeff;
}
body {
  background-color: var(--primary-color);
}

button {
  display: block;
  width: 380px;
  height: 80px;
  border: none;
  outline: none;
  padding: 8px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 10px;
}
button:hover {
  background-color: var(--accent-color);
  color: var(--white-color);
}
#result-container {
  display: none;
}
.result {
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.quiz-title {
  margin-top: 55px;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--white-color);
}
.quiz-console {
  margin-top: 80px;
  text-align: center;
  font-size: 1.5rem;
  color: var(--white-color);
}
.quiz-question {
  margin-top: 80px;
  text-align: center;
  font-size: 2rem;
  color: var(--white-color);
}
.option-container {
  margin-top: 80px;
  display: grid;
  justify-content: center;
  grid-template-columns: 380px 380px;
  gap: 16px;
}

.result-score {
  margin-top: 80px;
  text-align: center;
  font-size: 2rem;
  color: var(--white-color);
}
.reset-btn {
  margin-top: 80px;
}

@media only screen and (max-width: 450px) {
  .quiz-console {
    margin-top: 35px;
  }
  .quiz-question {
    margin-top: 35px;
    font-size: 1.5rem;
    margin-inline: 8px;
  }
  .option-container {
    margin-top: 20px;
    display: grid;
    justify-content: center;
    grid-template-columns: 380px;
    /* gap: 16px; */
  }
  .result-score {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 375px) {
  body {
    width: 100%;
  }
  button {
    width: 325px;
  }
  .option-container {
    display: grid;
    justify-content: center;
    grid-template-columns: 325px;
  }
}
